h1 {
    text-align: center; /* put the text of the h1 elements in cetner of the screen */
   
}

body {
    background-image: url("https://kpopreviewed.files.wordpress.com/2019/11/iu-lovepoem-1.jpg"); /* Get the background image from this url */
    background-repeat: repeat; /* repeat the background image if it doesnn't cover the full screen height and width*/
    background-size: auto; /* Automatically determine the background size*/
    color:#FFF; /*Use color of hexadecimal value #FFF (i.e. white) for all the elements inside body element*/
  }

  a {
    color: #FFF;
  }

  p {
    text-align: justify;
  }

  #acting-photo {
    float: left;
    margin-right: 2 0px;
  }

  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid white;
  }

  h1, h2, h3, h4, h5, h6 {
    text-decoration-line: underline;
  }

  .main-heading{
    padding: 20px;
    margin-bottom: 15px;
  }

  .childhoodphoto{
    padding: 20px;
    margin-bottom: 15px;
  }